In [82]:
import pandas as pd
import numpy as np
df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv", sep=';')

In [2]:
df.sum()

fixed acidity           13303.10000
volatile acidity          843.98500
citric acid               433.29000
residual sugar           4059.55000
chlorides                 139.85900
free sulfur dioxide     25384.00000
total sulfur dioxide    74302.00000
density                  1593.79794
pH                       5294.47000
sulphates                1052.38000
alcohol                 16666.35000
quality                  9012.00000
dtype: float64

In [3]:
print(df.sulphates.sum())
print(df['fixed acidity'].sum())

1052.3799999999999

In [4]:
print(f"Unique quality: {df['quality'].unique()}")

Unique quality: [5 6 7 4 8 3]

In [5]:
df.groupby("quality").mean()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
quality,,,,,,,,,,,
3,8.360000,0.884500,0.171000,2.635000,0.122500,11.000000,24.900000,0.997464,3.398000,0.570000,9.955000
4,7.779245,0.693962,0.174151,2.694340,0.090679,12.264151,36.245283,0.996542,3.381509,0.596415,10.265094
5,8.167254,0.577041,0.243686,2.528855,0.092736,16.983847,56.513950,0.997104,3.304949,0.620969,9.899706
6,8.347179,0.497484,0.273824,2.477194,0.084956,15.711599,40.869906,0.996615,3.318072,0.675329,10.629519
7,8.872362,0.403920,0.375176,2.720603,0.076588,14.045226,35.020101,0.996104,3.290754,0.741256,11.465913
8,8.566667,0.423333,0.391111,2.577778,0.068444,13.277778,33.444444,0.995212,3.267222,0.767778,12.094444

In [6]:
df.groupby(["quality", "residual sugar"]).mean()

                        fixed acidity  volatile acidity  citric acid  \
quality residual sugar
3       1.2                  6.800000          0.815000         0.00
        1.5                 10.400000          0.440000         0.42
        1.8                  6.700000          0.760000         0.02
        2.1                  8.433333          1.056667         0.18
        2.2                 11.600000          0.580000         0.66
...                               ...               ...          ...
8       2.6                 10.700000          0.350000         0.53
        2.8                  9.400000          0.300000         0.56
        3.6                  7.900000          0.350000         0.46
        5.2                 11.300000          0.620000         0.67
        6.4                 10.300000          0.320000         0.45

                        chlorides  free sulfur dioxide  total sulfur dioxide  \
quality residual sugar
3       1.2              0.267000                 16.0             29.000000
        1.5              0.145000                 34.0             48.000000
        1.8              0.078000                  6.0             12.000000
        2.1              0.132667                 10.0             24.666667
        2.2              0.074000                 10.0             47.000000
...                           ...                  ...                   ...
8       2.6              0.070000                  5.0             16.000000
        2.8              0.080000                  6.0             17.000000
        3.6              0.078000                 15.0             37.000000
        5.2              0.086000                  6.0             19.000000
        6.4              0.073000                  5.0             13.000000

                        density        pH  sulphates    alcohol
quality residual sugar
3       1.2             0.99471  3.320000   0.510000   9.800000
        1.5             0.99832  3.380000   0.860000   9.900000
        1.8             0.99600  3.550000   0.630000   9.950000
        2.1             0.99707  3.323333   0.526667   9.666667
        2.2             1.00080  3.250000   0.570000   9.000000
...                         ...       ...        ...        ...
8       2.6             0.99720  3.150000   0.650000  11.000000
        2.8             0.99640  3.150000   0.920000  11.700000
        3.6             0.99730  3.350000   0.860000  12.800000
        5.2             0.99880  3.220000   0.690000  13.400000
        6.4             0.99760  3.230000   0.820000  12.600000

[207 rows x 10 columns]

In [7]:
df.groupby(["quality"])["alcohol"].mean()

quality
3     9.955000
4    10.265094
5     9.899706
6    10.629519
7    11.465913
8    12.094444
Name: alcohol, dtype: float64

In [12]:
df.groupby("quality", as_index=False).mean()

,quality,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,3,8.360000,0.884500,0.171000,2.635000,0.122500,11.000000,24.900000,0.997464,3.398000,0.570000,9.955000
1,4,7.779245,0.693962,0.174151,2.694340,0.090679,12.264151,36.245283,0.996542,3.381509,0.596415,10.265094
2,5,8.167254,0.577041,0.243686,2.528855,0.092736,16.983847,56.513950,0.997104,3.304949,0.620969,9.899706
3,6,8.347179,0.497484,0.273824,2.477194,0.084956,15.711599,40.869906,0.996615,3.318072,0.675329,10.629519
4,7,8.872362,0.403920,0.375176,2.720603,0.076588,14.045226,35.020101,0.996104,3.290754,0.741256,11.465913
5,8,8.566667,0.423333,0.391111,2.577778,0.068444,13.277778,33.444444,0.995212,3.267222,0.767778,12.094444

In [14]:
grouped = df.groupby("quality")
grouped.describe()

        fixed acidity                                                     \
                count      mean       std  min   25%   50%     75%   max
quality
3                10.0  8.360000  1.770875  6.7  7.15  7.50   9.875  11.6
4                53.0  7.779245  1.626624  4.6  6.80  7.50   8.400  12.5
5               681.0  8.167254  1.563988  5.0  7.10  7.80   8.900  15.9
6               638.0  8.347179  1.797849  4.7  7.00  7.90   9.400  14.3
7               199.0  8.872362  1.992483  4.9  7.40  8.80  10.100  15.6
8                18.0  8.566667  2.119656  5.0  7.25  8.25  10.225  12.6

        volatile acidity            ... sulphates       alcohol             \
                   count      mean  ...       75%   max   count       mean
quality                             ...
3                   10.0  0.884500  ...     0.615  0.86    10.0   9.955000
4                   53.0  0.693962  ...     0.600  2.00    53.0  10.265094
5                  681.0  0.577041  ...     0.660  1.98   681.0   9.899706
6                  638.0  0.497484  ...     0.750  1.95   638.0  10.629519
7                  199.0  0.403920  ...     0.830  1.36   199.0  11.465913
8                   18.0  0.423333  ...     0.820  1.10    18.0  12.094444


              std  min     25%     50%     75%   max
quality
3        0.818009  8.4   9.725   9.925  10.575  11.0
4        0.934776  9.0   9.600  10.000  11.000  13.1
5        0.736521  8.5   9.400   9.700  10.200  14.9
6        1.049639  8.4   9.800  10.500  11.300  14.0
7        0.961933  9.2  10.800  11.500  12.100  14.0
8        1.224011  9.8  11.325  12.150  12.875  14.0

[6 rows x 88 columns]

In [15]:
grouped.describe()["fixed acidity"]

         count      mean       std  min   25%   50%     75%   max
quality
3         10.0  8.360000  1.770875  6.7  7.15  7.50   9.875  11.6
4         53.0  7.779245  1.626624  4.6  6.80  7.50   8.400  12.5
5        681.0  8.167254  1.563988  5.0  7.10  7.80   8.900  15.9
6        638.0  8.347179  1.797849  4.7  7.00  7.90   9.400  14.3
7        199.0  8.872362  1.992483  4.9  7.40  8.80  10.100  15.6
8         18.0  8.566667  2.119656  5.0  7.25  8.25  10.225  12.6

In [21]:
df.loc[grouped.groups[3]]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
459,11.6,0.580,0.66,2.20,0.074,10.0,47.0,1.00080,3.25,0.57,9.00,3
517,10.4,0.610,0.49,2.10,0.200,5.0,16.0,0.99940,3.16,0.63,8.40,3
690,7.4,1.185,0.00,4.25,0.097,5.0,14.0,0.99660,3.63,0.54,10.70,3
832,10.4,0.440,0.42,1.50,0.145,34.0,48.0,0.99832,3.38,0.86,9.90,3
899,8.3,1.020,0.02,3.40,0.084,6.0,11.0,0.99892,3.48,0.49,11.00,3
1299,7.6,1.580,0.00,2.10,0.137,5.0,9.0,0.99476,3.50,0.40,10.90,3
1374,6.8,0.815,0.00,1.20,0.267,16.0,29.0,0.99471,3.32,0.51,9.80,3
1469,7.3,0.980,0.05,2.10,0.061,20.0,49.0,0.99705,3.31,0.55,9.70,3
1478,7.1,0.875,0.05,5.70,0.082,3.0,14.0,0.99808,3.40,0.52,10.20,3
1505,6.7,0.760,0.02,1.80,0.078,6.0,12.0,0.99600,3.55,0.63,9.95,3

Advanced Aggregation

In [22]:
df.agg(["sum", "mean", "std"])

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
sum,13303.100000,843.985000,433.290000,4059.550000,139.859000,25384.000000,74302.000000,1593.797940,5294.470000,1052.380000,16666.350000,9012.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569

In [23]:
df[["fixed acidity", "volatile acidity"]].agg(["sum", "mean", "std"])

      fixed acidity  volatile acidity
sum    13303.100000        843.985000
mean       8.319637          0.527821
std        1.741096          0.179060

In [31]:
# agg function using a dictionary format
df.agg({
    "fixed acidity": ["sum", "mean", "median"],
    "volatile acidity": ["sum", "mean", "std"]
})

        fixed acidity  volatile acidity
sum      13303.100000        843.985000
mean         8.319637          0.527821
median       7.900000               NaN
std               NaN          0.179060

In [45]:
# groupby & agg function using a dictionary format
df_grouped = df.groupby("quality").agg({
    "fixed acidity": ["sum", "mean", "std"],
    "volatile acidity": ["sum", "mean", "std"]
})
df_grouped

        fixed acidity                     volatile acidity
                  sum      mean       std              sum      mean       std
quality
3                83.6  8.360000  1.770875            8.845  0.884500  0.331256
4               412.3  7.779245  1.626624           36.780  0.693962  0.220110
5              5561.9  8.167254  1.563988          392.965  0.577041  0.164801
6              5325.5  8.347179  1.797849          317.395  0.497484  0.160962
7              1765.6  8.872362  1.992483           80.380  0.403920  0.145224
8               154.2  8.566667  2.119656            7.620  0.423333  0.144914

In [33]:
df_grouped.columns = df_grouped.columns.to_flat_index()
df_grouped

,"(fixed acidity, sum)","(fixed acidity, mean)","(fixed acidity, std)","(volatile acidity, sum)","(volatile acidity, mean)","(volatile acidity, std)"
quality,,,,,,
3,83.6,8.360000,1.770875,8.845,0.884500,0.331256
4,412.3,7.779245,1.626624,36.780,0.693962,0.220110
5,5561.9,8.167254,1.563988,392.965,0.577041,0.164801
6,5325.5,8.347179,1.797849,317.395,0.497484,0.160962
7,1765.6,8.872362,1.992483,80.380,0.403920,0.145224
8,154.2,8.566667,2.119656,7.620,0.423333,0.144914

In [34]:
# different aggregation functions to different columns 
df.groupby("quality").agg({
    "fixed acidity": "sum",
    "volatile acidity": ["mean", "std"]
})

        fixed acidity volatile acidity
                  sum             mean       std
quality
3                83.6         0.884500  0.331256
4               412.3         0.693962  0.220110
5              5561.9         0.577041  0.164801
6              5325.5         0.497484  0.160962
7              1765.6         0.403920  0.145224
8               154.2         0.423333  0.144914

In [35]:
# Named aggregations 
df.groupby("quality").agg(
    min_fa=("fixed acidity", "min"),
    var_va=("volatile acidity", "var")
)

         min_fa    var_va
quality
3           6.7  0.109730
4           4.6  0.048448
5           5.0  0.027159
6           4.7  0.025909
7           4.9  0.021090
8           5.0  0.021000

In [38]:
df.groupby('quality').agg(
    sum_alcohol = ('alcohol', 'sum'),
    geomean_of_hue = ('pH', lambda x: x.prod() ** (1 / len(x)))
)

         sum_alcohol  geomean_of_hue
quality
3          99.550000        0.100000
4         544.050000        0.018868
5        6741.700000        0.001468
6        6781.633333        0.001567
7        2281.716667        0.005025
8         217.700000        0.055556

In [99]:
# custom aggregations
def field_range(s):
    return max(s) - min(s)

df.groupby("quality")["fixed acidity"].agg(min_fixed_acid = "min", max_fixed_acid = "max", max_minus_min= field_range)

         min_fixed_acid  max_fixed_acid  max_minus_min
quality
3                   6.7            11.6            4.9
4                   4.6            12.5            7.9
5                   5.0            15.9           10.9
6                   4.7            14.3            9.6
7                   4.9            15.6           10.7
8                   5.0            12.6            7.6

In [50]:
grouped = df.groupby("quality").agg({
    "fixed acidity": "sum",
    "volatile acidity": ["mean", "std"]
}).reset_index()
grouped

  quality fixed acidity volatile acidity
                    sum             mean       std
0       3          83.6         0.884500  0.331256
1       4         412.3         0.693962  0.220110
2       5        5561.9         0.577041  0.164801
3       6        5325.5         0.497484  0.160962
4       7        1765.6         0.403920  0.145224
5       8         154.2         0.423333  0.144914

In [155]:
df1 = df.assign(testcol1=lambda df: df.pH/2, testcol2=lambda df: df.pH/2)
df1

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,squared_density,testcol1,testcol2
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,0.995605,1.755,1.755
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,0.993610,1.600,1.600
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,0.994009,1.630,1.630
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,0.996004,1.580,1.580
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,0.995605,1.755,1.755
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5,0.989826,1.725,1.725
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6,0.990264,1.760,1.760
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6,0.991498,1.710,1.710
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5,0.990961,1.785,1.785
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6,0.991000,1.695,1.695

In [94]:
# Apply function
def add_3(x):
   return x+3
df1.pH = df1.pH.apply(add_3)
df1

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,squared_density,testcol1,testcol2
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,6.51,0.56,9.4,5,0.995605,1.755,1.755
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,6.20,0.68,9.8,5,0.993610,1.600,1.600
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,6.26,0.65,9.8,5,0.994009,1.630,1.630
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,6.16,0.58,9.8,6,0.996004,1.580,1.580
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,6.51,0.56,9.4,5,0.995605,1.755,1.755
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,6.45,0.58,10.5,5,0.989826,1.725,1.725
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,6.52,0.76,11.2,6,0.990264,1.760,1.760
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,6.42,0.75,11.0,6,0.991498,1.710,1.710
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,6.57,0.71,10.2,5,0.990961,1.785,1.785
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,6.39,0.66,11.0,6,0.991000,1.695,1.695

In [95]:
df1[['pH','testcol1']] = df1[['pH','testcol1']].apply(add_3)
df1

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,squared_density,testcol1,testcol2
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,9.51,0.56,9.4,5,0.995605,4.755,1.755
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,9.20,0.68,9.8,5,0.993610,4.600,1.600
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,9.26,0.65,9.8,5,0.994009,4.630,1.630
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,9.16,0.58,9.8,6,0.996004,4.580,1.580
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,9.51,0.56,9.4,5,0.995605,4.755,1.755
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,9.45,0.58,10.5,5,0.989826,4.725,1.725
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,9.52,0.76,11.2,6,0.990264,4.760,1.760
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,9.42,0.75,11.0,6,0.991498,4.710,1.710
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,9.57,0.71,10.2,5,0.990961,4.785,1.785
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,9.39,0.66,11.0,6,0.991000,4.695,1.695

In [100]:
df1[['pH','testcol1']] = df1[['pH','testcol1']].apply(lambda x : x+9000, axis=1)
df1

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,squared_density,testcol1,testcol2
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,9009.51,0.56,9.4,5,0.995605,9004.755,1.755
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,9009.20,0.68,9.8,5,0.993610,9004.600,1.600
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,9009.26,0.65,9.8,5,0.994009,9004.630,1.630
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,9009.16,0.58,9.8,6,0.996004,9004.580,1.580
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,9009.51,0.56,9.4,5,0.995605,9004.755,1.755
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,9009.45,0.58,10.5,5,0.989826,9004.725,1.725
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,9009.52,0.76,11.2,6,0.990264,9004.760,1.760
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,9009.42,0.75,11.0,6,0.991498,9004.710,1.710
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,9009.57,0.71,10.2,5,0.990961,9004.785,1.785
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,9009.39,0.66,11.0,6,0.991000,9004.695,1.695

In [87]:
df1.testcol2 = df1.testcol2.apply(lambda x : x + 100 if x > 9.2 else x-100)
df1

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,testcol1,testcol2
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,18.51,0.56,9.4,5,9.255,209.255
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,18.20,0.68,9.8,5,9.100,-190.900
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,18.26,0.65,9.8,5,9.130,-190.870
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,18.16,0.58,9.8,6,9.080,-190.920
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,18.51,0.56,9.4,5,9.255,209.255
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,18.45,0.58,10.5,5,9.225,209.225
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,18.52,0.76,11.2,6,9.260,209.260
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,18.42,0.75,11.0,6,9.210,209.210
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,18.57,0.71,10.2,5,9.285,209.285
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,18.39,0.66,11.0,6,9.195,-190.805

In [92]:
# List comprehension to create a new column
df1['squared_density'] = [i-1 for i in df1['density']]
df1

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,testcol1,testcol2,squared_density
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,18.51,0.56,9.4,5,9.255,209.255,-0.00220
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,18.20,0.68,9.8,5,9.100,-190.900,-0.00320
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,18.26,0.65,9.8,5,9.130,-190.870,-0.00300
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,18.16,0.58,9.8,6,9.080,-190.920,-0.00200
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,18.51,0.56,9.4,5,9.255,209.255,-0.00220
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,18.45,0.58,10.5,5,9.225,209.225,-0.00510
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,18.52,0.76,11.2,6,9.260,209.260,-0.00488
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,18.42,0.75,11.0,6,9.210,209.210,-0.00426
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,18.57,0.71,10.2,5,9.285,209.285,-0.00453
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,18.39,0.66,11.0,6,9.195,-190.805,-0.00451

In [105]:
# Fillter rows and columns 
print(df1.testcol1)
print(df1["testcol1"])
print(df1[["testcol1"]])

0       9004.755
1       9004.600
2       9004.630
3       9004.580
4       9004.755
          ...
1594    9004.725
1595    9004.760
1596    9004.710
1597    9004.785
1598    9004.695
Name: testcol1, Length: 1599, dtype: float64
0       9004.755
1       9004.600
2       9004.630
3       9004.580
4       9004.755
          ...
1594    9004.725
1595    9004.760
1596    9004.710
1597    9004.785
1598    9004.695
Name: testcol1, Length: 1599, dtype: float64
      testcol1
0     9004.755
1     9004.600
2     9004.630
3     9004.580
4     9004.755
...        ...
1594  9004.725
1595  9004.760
1596  9004.710
1597  9004.785
1598  9004.695

[1599 rows x 1 columns]

In [107]:
df1[['pH','testcol1']]

           pH  testcol1
0     9009.51  9004.755
1     9009.20  9004.600
2     9009.26  9004.630
3     9009.16  9004.580
4     9009.51  9004.755
...       ...       ...
1594  9009.45  9004.725
1595  9009.52  9004.760
1596  9009.42  9004.710
1597  9009.57  9004.785
1598  9009.39  9004.695

[1599 rows x 2 columns]

In [108]:
df1.iloc[:, 0:2]

      fixed acidity  volatile acidity
0               7.4             0.700
1               7.8             0.880
2               7.8             0.760
3              11.2             0.280
4               7.4             0.700
...             ...               ...
1594            6.2             0.600
1595            5.9             0.550
1596            6.3             0.510
1597            5.9             0.645
1598            6.0             0.310

[1599 rows x 2 columns]

In [109]:
df1.iloc[[0, 1], [0, 1, 2]]

   fixed acidity  volatile acidity  citric acid
0            7.4              0.70          0.0
1            7.8              0.88          0.0

In [111]:
df1.head(3)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,squared_density,testcol1,testcol2
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,9009.51,0.56,9.4,5,0.995605,9004.755,1.755
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,9009.20,0.68,9.8,5,0.993610,9004.600,1.600
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,9009.26,0.65,9.8,5,0.994009,9004.630,1.630

In [115]:
# filtering rows index divisible by 3
every_3rd_row = [i % 3 == 0 for i in range(len(df1))]
df1.iloc[every_3rd_row]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,squared_density,testcol1,testcol2
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,9009.51,0.56,9.4,5,0.995605,9004.755,1.755
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,9009.16,0.58,9.8,6,0.996004,9004.580,1.580
6,7.9,0.600,0.06,1.6,0.069,15.0,59.0,0.99640,9009.30,0.46,9.4,5,0.992813,9004.650,1.650
9,7.5,0.500,0.36,6.1,0.071,17.0,102.0,0.99780,9009.35,0.80,10.5,5,0.995605,9004.675,1.675
12,5.6,0.615,0.00,1.6,0.089,16.0,59.0,0.99430,9009.58,0.52,9.9,5,0.988632,9004.790,1.790
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1584,6.7,0.320,0.44,2.4,0.061,24.0,34.0,0.99484,9009.29,0.80,11.6,7,0.989707,9004.645,1.645
1587,5.8,0.610,0.11,1.8,0.066,18.0,28.0,0.99483,9009.55,0.66,10.9,6,0.989687,9004.775,1.775
1590,6.3,0.550,0.15,1.8,0.077,26.0,35.0,0.99314,9009.32,0.82,11.6,6,0.986327,9004.660,1.660
1593,6.8,0.620,0.08,1.9,0.068,28.0,38.0,0.99651,9009.42,0.82,9.5,6,0.993032,9004.710,1.710
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,9009.42,0.75,11.0,6,0.991498,9004.710,1.710

In [126]:
df1.query('`fixed acidity` > 6.7').shape[0]

1371

In [128]:
df1.query('`citric acid` == 0')

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,squared_density,testcol1,testcol2
0,7.4,0.700,0.0,1.9,0.076,11.0,34.0,0.99780,9009.51,0.56,9.4,5,0.995605,9004.755,1.755
1,7.8,0.880,0.0,2.6,0.098,25.0,67.0,0.99680,9009.20,0.68,9.8,5,0.993610,9004.600,1.600
4,7.4,0.700,0.0,1.9,0.076,11.0,34.0,0.99780,9009.51,0.56,9.4,5,0.995605,9004.755,1.755
5,7.4,0.660,0.0,1.8,0.075,13.0,40.0,0.99780,9009.51,0.56,9.4,5,0.995605,9004.755,1.755
7,7.3,0.650,0.0,1.2,0.065,15.0,21.0,0.99460,9009.39,0.47,10.0,7,0.989229,9004.695,1.695
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,6.5,0.900,0.0,1.6,0.052,9.0,17.0,0.99467,9009.50,0.63,10.9,6,0.989368,9004.750,1.750
1461,6.2,0.785,0.0,2.1,0.060,6.0,13.0,0.99664,9009.59,0.61,10.0,4,0.993291,9004.795,1.795
1550,7.1,0.680,0.0,2.3,0.087,17.0,26.0,0.99783,9009.45,0.53,9.5,5,0.995665,9004.725,1.725
1551,7.1,0.670,0.0,2.3,0.083,18.0,27.0,0.99768,9009.44,0.54,9.4,5,0.995365,9004.720,1.720
1553,7.3,0.735,0.0,2.2,0.080,18.0,28.0,0.99765,9009.41,0.60,9.4,5,0.995306,9004.705,1.705

In [147]:
df1.query('@every_3rd_row')

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,squared_density,testcol1,testcol2
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,9009.51,0.56,9.4,5,0.995605,9004.755,1.755
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,9009.16,0.58,9.8,6,0.996004,9004.580,1.580
6,7.9,0.600,0.06,1.6,0.069,15.0,59.0,0.99640,9009.30,0.46,9.4,5,0.992813,9004.650,1.650
9,7.5,0.500,0.36,6.1,0.071,17.0,102.0,0.99780,9009.35,0.80,10.5,5,0.995605,9004.675,1.675
12,5.6,0.615,0.00,1.6,0.089,16.0,59.0,0.99430,9009.58,0.52,9.9,5,0.988632,9004.790,1.790
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1584,6.7,0.320,0.44,2.4,0.061,24.0,34.0,0.99484,9009.29,0.80,11.6,7,0.989707,9004.645,1.645
1587,5.8,0.610,0.11,1.8,0.066,18.0,28.0,0.99483,9009.55,0.66,10.9,6,0.989687,9004.775,1.775
1590,6.3,0.550,0.15,1.8,0.077,26.0,35.0,0.99314,9009.32,0.82,11.6,6,0.986327,9004.660,1.660
1593,6.8,0.620,0.08,1.9,0.068,28.0,38.0,0.99651,9009.42,0.82,9.5,6,0.993032,9004.710,1.710
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,9009.42,0.75,11.0,6,0.991498,9004.710,1.710

In [153]:
pH_mean = df1.pH.mean()
df1.query('pH > @pH_mean').shape[0]

777

### subset & assign values

In [157]:
df1.sulphates = df1.sulphates.apply(lambda x: 1 if x >= 0.72 else x)
df1.head(20)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,squared_density,testcol1,testcol2
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0.995605,1.755,1.755
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,0.993610,1.600,1.600
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,0.994009,1.630,1.630
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,0.996004,1.580,1.580
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0.995605,1.755,1.755
5,7.4,0.660,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,5,0.995605,1.755,1.755
6,7.9,0.600,0.06,1.6,0.069,15.0,59.0,0.9964,3.30,0.46,9.4,5,0.992813,1.650,1.650
7,7.3,0.650,0.00,1.2,0.065,15.0,21.0,0.9946,3.39,0.47,10.0,7,0.989229,1.695,1.695
8,7.8,0.580,0.02,2.0,0.073,9.0,18.0,0.9968,3.36,0.57,9.5,7,0.993610,1.680,1.680
9,7.5,0.500,0.36,6.1,0.071,17.0,102.0,0.9978,3.35,1.00,10.5,5,0.995605,1.675,1.675
10,6.7,0.580,0.08,1.8,0.097,15.0,65.0,0.9959,3.28,0.54,9.2,5,0.991817,1.640,1.640
11,7.5,0.500,0.36,6.1,0.071,17.0,102.0,0.9978,3.35,1.00,10.5,5,0.995605,1.675,1.675
12,5.6,0.615,0.00,1.6,0.089,16.0,59.0,0.9943,3.58,0.52,9.9,5,0.988632,1.790,1.790
13,7.8,0.610,0.29,1.6,0.114,9.0,29.0,0.9974,3.26,1.00,9.1,5,0.994807,1.630,1.630
14,8.9,0.620,0.18,3.8,0.176,52.0,145.0,0.9986,3.16,1.00,9.2,5,0.997202,1.580,1.580
15,8.9,0.620,0.19,3.9,0.170,51.0,148.0,0.9986,3.17,1.00,9.2,5,0.997202,1.585,1.585
16,8.5,0.280,0.56,1.8,0.092,35.0,103.0,0.9969,3.30,1.00,10.5,7,0.993810,1.650,1.650
17,8.1,0.560,0.28,1.7,0.368,16.0,56.0,0.9968,3.11,1.00,9.3,5,0.993610,1.555,1.555
18,7.4,0.590,0.08,4.4,0.086,6.0,29.0,0.9974,3.38,0.50,9.0,4,0.994807,1.690,1.690
19,7.9,0.320,0.51,1.8,0.341,17.0,56.0,0.9969,3.04,1.00,9.2,6,0.993810,1.520,1.520

### Descibe

In [158]:
df1.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,squared_density,testcol1,testcol2
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.695629,10.422983,5.636023,0.993508,1.655557,1.655557
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.197179,1.065668,0.807569,0.003763,0.077193,0.077193
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000,0.980239,1.370000,1.370000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000,0.991219,1.605000,1.605000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000,0.993511,1.655000,1.655000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,1.000000,11.100000,6.000000,0.995675,1.700000,1.700000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,1.000000,14.900000,8.000000,1.007394,2.005000,2.005000

In [159]:
df1.pH.describe()

count    1599.000000
mean        3.311113
std         0.154386
min         2.740000
25%         3.210000
50%         3.310000
75%         3.400000
max         4.010000
Name: pH, dtype: float64

In [161]:
# COMPUTE SUMMARY STATISTICS FOR NUMERIC VARIABLES
df1.describe(include = [np.number])

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,squared_density,testcol1,testcol2
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.695629,10.422983,5.636023,0.993508,1.655557,1.655557
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.197179,1.065668,0.807569,0.003763,0.077193,0.077193
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000,0.980239,1.370000,1.370000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000,0.991219,1.605000,1.605000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000,0.993511,1.655000,1.655000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,1.000000,11.100000,6.000000,0.995675,1.700000,1.700000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,1.000000,14.900000,8.000000,1.007394,2.005000,2.005000

In [165]:
# COMPUTE SUMMARY STATISTICS FOR STRING VARIABLES
# df1.describe(include = ['category'])

In [167]:
df1.describe(percentiles = [0.01, .1, .9, 0.99])

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,squared_density,testcol1,testcol2
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.695629,10.422983,5.636023,0.993508,1.655557,1.655557
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.197179,1.065668,0.807569,0.003763,0.077193,0.077193
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000,0.980239,1.370000,1.370000
1%,5.200000,0.190000,0.000000,1.400000,0.042980,3.000000,8.000000,0.991820,2.930000,0.420000,9.000000,4.000000,0.983707,1.465000,1.465000
10%,6.500000,0.310000,0.010000,1.700000,0.060000,5.000000,14.000000,0.994556,3.120000,0.500000,9.300000,5.000000,0.989142,1.560000,1.560000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000,0.993511,1.655000,1.655000
90%,10.700000,0.745000,0.522000,3.600000,0.109000,31.000000,93.200000,0.999140,3.510000,1.000000,12.000000,7.000000,0.998281,1.755000,1.755000
99%,13.300000,1.020000,0.700200,8.306000,0.360160,50.020000,145.000000,1.001506,3.700200,1.000000,13.400000,8.000000,1.003014,1.850100,1.850100
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,1.000000,14.900000,8.000000,1.007394,2.005000,2.005000

In [175]:
rolling_mean = df1.pH.rolling(window=2).mean()
print(rolling_mean.head(10))

0      NaN
1    3.355
2    3.230
3    3.210
4    3.335
5    3.510
6    3.405
7    3.345
8    3.375
9    3.355
Name: pH, dtype: float64

In [180]:
rolling_mean = df1.pH.rolling(window=2, min_periods=1).mean()
print(rolling_mean.head(10))

0    3.510
1    3.355
2    3.230
3    3.210
4    3.335
5    3.510
6    3.405
7    3.345
8    3.375
9    3.355
Name: pH, dtype: float64

### Drop NA

df1.dropna(how='all') # Drop only if ALL columns are NaN
df1.dropna(thresh=2)  # Drop row if it does not have at least two values that are **not** NaN
df1.dropna(subset=["pH]) # Drop only if NaN in specific column